<div class="container">
  <h1>Personas</h1>
  <a routerLink="/buscar" class="btn btn-primary">Volver</a>
  <table class="table">
    <thead>
      <th scope="col">Id</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Fecha de nacimiento</th>
      <th scope="col">Tipo de documento</th>
      <th scope="col">Numero de documento</th>
      <th scope="col">Acciones</th>
    </thead>
    <tbody>
      <tr *ngFor="let persona of personas; let i = index">
         <th scope="row">{{persona.id}}</th>
         <td>{{persona.nombre}}</td>
         <td>{{persona.apellido}}</td>
         <td>{{persona.fechanacimiento}}</td>
         <td>{{persona.tipodocumento}}</td>
         <td>{{persona.numerodocumento}}</td>
         <td>
            <div class="btn-group mr-2">
               <button type="button" class="btn btn-success" routerLink="/formulario/{{persona.id}}">Update</button>
               <button type="button" class="btn btn-danger" (click)="delete(persona, i)">Delete</button>
            </div>
         </td>
      </tr>
    </tbody>
  </table>
</div>
